<!--
================================================================================
FILE: app.component.html
PROJECT: JAVASCRIPT-FRAMEWORKS-TODO-APPS
ARCHITECTS: Amey Thakur (https://github.com/Amey-Thakur)
            Mega Satish (https://github.com/msatmod)
REPOSITORY: https://github.com/Amey-Thakur/JAVASCRIPT-FRAMEWORKS-TODO-APPS
RELEASE DATE: June 23, 2022
LICENSE: MIT License
--------------------------------------------------------------------------------
TECHNICAL DESCRIPTION:
A declarative template specification for the Angular Todo application. 
Demonstrates Angular's structural directives (*ngFor, *ngIf) and 
event binding syntax to provide a reactive and accessible user interface.
================================================================================
-->
<ul>
  <li *ngFor="let todo of todos">{{todo}}</li>
</ul>

<form (ngSubmit)="addTodo()">

  <!-- Binding -->
  <input name="todotext" [(ngModel)]="todoText">

  <input type="submit" value="Add Todo">

</form>